@model CreateMufViewModel

<form method="post" asp-controller="Admin" asp-action="CreateMuf">

    <div class="form-group">

        <label asp-for="MufredatAdi"></label>
        <input asp-for="MufredatAdi" class="form-control" />
        <span asp-validation-for="MufredatAdi" class="text-danger"></span>

    </div>

    <button class="btn btn-outline-primary">Ekle</button>

</form>

<div>
    <a asp-controller="Admin" asp-action="IndexMufredat" class="btn btn-primary">Geri Dön</a>
</div>

