@model DuzenleOgrViewModel

<form method="post" asp-controller="Admin" asp-action="EditOgr">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">

        <label asp-for="TcNo"></label>
        <input asp-for="TcNo" class="form-control" />
        <span asp-validation-for="TcNo" class="text-danger"></span>

    </div>
    <div class="form-group">

        <label asp-for="Ad"></label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>

    </div>
    <div class="form-group">

        <label asp-for="Soyad"></label>
        <input asp-for="Soyad" class="form-control" />
        <span asp-validation-for="Soyad" class="text-danger"></span>

    </div>
    <div class="form-group">

        <label asp-for="DogumYeri"></label>
        <input asp-for="DogumYeri" class="form-control" />
        <span asp-validation-for="DogumYeri" class="text-danger"></span>

    </div>
    <div class="form-group">

        <label asp-for="DogumTarihi"></label>
        <input asp-for="DogumTarihi" class="form-control" />
        <span asp-validation-for="DogumTarihi" class="text-danger"></span>

    </div>
    <div class="form-group">

        <label asp-for="Adres"></label>
        <textarea asp-for="Adres" class="form-control" style="height:100px;"></textarea>
        <span asp-validation-for="Adres" class="text-danger"></span>

    </div>
    <div class="form-group">

        <label asp-for="Il"></label>
        <input asp-for="Il" class="form-control" />
        <span asp-validation-for="Il" class="text-danger"></span>

    </div>
    <div class="form-group">

        <label asp-for="Ilce"></label>
        <input asp-for="Ilce" class="form-control" />
        <span asp-validation-for="Ilce" class="text-danger"></span>

    </div>
    <div class="form-group">

        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>
    <div class="form-group">

        <label asp-for="Gsm"></label>
        <input type="tel" asp-for="Gsm" class="form-control" />
        <span asp-validation-for="Gsm" class="text-danger"></span>

    </div>

    <button class="btn btn-outline-primary">Kaydet</button>

</form>
<a asp-controller="Admin" asp-action="Index"> Geri Dön</a>

