<div class="text-center">
    <h1 class="display-4">---Atılım Üniversitesi---</h1>

    <div class="row justify-content-center">
        <p class="col-md-9">
             Öğrenci Bilgi Sistemin Sayfasına Hoşgeldiniz.
            
        </p>
    </div>
    <div>
        <p> Sisteme giriş yapmak için <a asp-area="Identity" asp-page="/Account/Login">Tıklayınız</a> </p>
    </div>
</div>
